$font-family: "Segoe UI", Arial, sans-serif;;
$font-size: 12px;
$base-color-darkest: $oc-gray-9;
$base-color-darker: $oc-gray-7;
$base-color: $oc-gray-5;
$base-color-lighter: $oc-gray-3;
$base-color-lightest: $oc-gray-1;
$primary-color-darkest: $oc-blue-9;
$primary-color-darker: $oc-blue-7;
$primary-color: $oc-blue-5;
$primary-color-lighter: $oc-blue-3;
$primary-color-lightest: $oc-blue-1;
$secondary-color-darkest: $oc-orange-9;
$secondary-color-darker: $oc-orange-7;
$secondary-color: $oc-orange-5;
$secondary-color-lighter: $oc-orange-3;
$secondary-color-lightest: $oc-orange-1;
$red-color-darkest: $oc-red-9;
$red-color-darker: $oc-red-7;
$red-color: $oc-red-5;
$red-color-lighter: $oc-red-3;
$red-color-lightest: $oc-red-1;