.form-group {
  padding: 0.8em;
  border-radius: 3px;
  border: 1px solid $base-color-lighter;
  margin-bottom: 0.5em;
  &--state {
    &-error {
      border: 1px solid $red-color-lighter;
      background-color: $red-color-lightest;
    }
    &-focus {
      border: 1px solid $base-color-darker;
    }
    &-disabled {
      background-color: $base-color-lightest;
    }
  }
  > label:not(.radio-control):not(.checkbox-control) {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-bottom: 0.9em;
  }
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  input[type="email"] {
    height: 19px;
    border: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background: none;
  }
  .Select {
    position: relative;
    margin: 0 -0.8rem;
  }
  .Select-control {
    height: auto;
  }
  .Select-input {
    height: auto;
    input {
      line-height: 19px;
    }
  }
  .Select-control:hover {
    box-shadow: none;
  }
  .Select-placeholder {
    line-height: 19px;
  }
  .Select-menu-outer {
    // dirty hack
    left: -1px;
    width: calc(100% + 2px);
    margin-top: 0.5em;
    border-radius: 0;
    border-color: $base-color-lighter;
  }
  .Select-control {
    border: 0;
    background: none;
  }
  // reset styles from react-select
  .is-focused:not(.is-open) > .Select-control {
    border: 0;
  }
  .select {
    &--state {
      &-error {
        .Select-control {
          border: 0;
          background: none;
        }
      }
      &-disabled {
        .Select-control {
          border: 0;
          background: none;
        }
      }
    }
  }
}