.input {
  border-radius: 3px;
  width: 100%;
  border: 1px solid $base-color-lighter;
  outline: none;
  margin-right: 0.5rem;
  margin-bottom: 0.5em;
  padding: 0 10px;
  line-height: 32px;
  &--sm {
    @extend .sm;
  }
  &--md {
    @extend .md;
    line-height: 40px;
  }
  &--lg {
    @extend .lg;
    line-height: 48px;
  }
  &--state-focus, &:focus {
    border: 1px solid $base-color-darker;
  }
  &--state-error {
    border: 1px solid $red-color-lighter;
    background-color: $red-color-lightest;
  }
  &:disabled {
    background-color: $base-color-lightest;
  }
}