.Select {
  margin-bottom: 0.5em;
}
.Select-value, .Select-placeholder {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.Select-input {
  padding-left: 12px;
  padding-right: 12px;
  > input {
    padding: 0;
    line-height: 34px;
  }
}
.Select-control {
  border: 1px solid $base-color-lighter;
}

.is-focused:not(.is-open) > .Select-control {
  border: 1px solid $base-color-darker;
  box-shadow: none;
}

.select {
  &--state {
    &-error {
      .Select-control {
        border: 1px solid $red-color-lighter;
        background-color: $red-color-lightest;
      }
    }
    &-disabled {
      .Select-control {
        border: 1px solid $base-color-lighter;
        background-color: $base-color-lightest !important;
      }
    }
  }
}